@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #eeeeee;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

nav{
    position: sticky;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 100%;

    box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.1);

    z-index: 1;             
}



label.logo{
    color: #000000;
    font-size: 13px;
    line-height: 50px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 50px;
    color: #000000;

}

nav ul li{
    display: inline-block;
    color: #000000;
    font-size: 12px;
    line-height: 50px;
    margin: 0 5px;

}





a{
    transition: all 300ms ease-in-out;
}


a:hover{
    color: #ffffff;

} 

.active{
    font-weight: bold;
}





.checkbtn{
    font-size: 13px;
    color: #000000;
    float: right;
    line-height: 50px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}











.imagem{
    width: 100%;
    margin-top: 50px;
    margin-bottom: -20px;
}


.container-images{
    max-width: 100%;                    
    margin: 15px auto 15px auto;


    animation: slide 20s infinite;
}






.imagensHorizonatais{

    text-align: center;
    margin: 1% auto -7% auto;

}


/*

#imagem1{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}


#imagem2{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

#imagem3{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}


#imagem4{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}


#imagem5{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}


*/







.about{
    padding: 1rem;
}


.about h1{
    margin-top: 30px;
    font-size: 4.3rem;
    text-align: center;

}

.case-study{      
    display: flex;
    max-width: 800px;             
    margin: 1rem auto;            
    text-align: center;

    font-size: 13px;
}


.sub-sub-about{
    margin: -10px auto 10px auto;

}

.textoHorizontais{
    margin-top: 30px;

}

.about h2{
    text-align: center;
}

.about-sub{
    display: flex;
    max-width: 800px;             
    margin: 0rem auto;             
    text-align: center;


    animation: animatetext 1s linear;    

}



.about-sub >img{
    margin: 1rem auto 0px auto;            

    animation: animateimage 2s linear;   

}



.link-imagens{
    margin: auto;
}









.imagem2{
    width: 380px;
    max-height: 210px; 
    max-width: 100%;      
   
 }
 
 .imagem3{
    width: 380px;
    max-height: 210px; 
     max-width: 100%;    
 }
 
 
 .imagem4{
    width: 380px;
    max-height: 210px; 
     max-width: 100%;     
 }
 
 .imagem5{
    width: 380px;
    max-height: 210px; 
     max-width: 100%;        
 }















.about-sub .sub-sub-about{
    margin-left: 0rem;  

}
                           
.about-sub .sub-sub-about p{
    font-size: 13px; 
    margin: 1rem;

}

       
.sub-sub-about{
    margin-top: 13%;

}











#imagem2 {
    transition: all 500ms ease-in-out;
    margin-top: 50px;
    
}

#imagem2:hover {
    transform: scale(1.3); 
    margin-top: 50px;
    cursor: pointer;
    
}


#imagem3 {
    transition: all 500ms ease-in-out;
    margin-top: 50px;
    
}

#imagem3:hover {
    transform: scale(1.3); 
    margin-top: 50px;
    cursor: pointer;
    
}



#imagem4 {
    transition: all 500ms ease-in-out;
    margin-top: 50px;
    
}

#imagem4:hover {
    transform: scale(1.3); 
    margin-top: 50px;
    cursor: pointer;
    
}


#imagem5 {
    transition: all 500ms ease-in-out;
    margin-top: 50px;
    
}

#imagem5:hover {
    transform: scale(1.3); 
    margin-top: 50px;
    cursor: pointer;
    
}


































footer{
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10%;
    background-color: #000000;
    color: #d7d7d5;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background-color: #000000;
    color: #d7d7d5;
    font-size: 7px;

    box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.1);
}















@media (max-width: 650px) {
    label.logo{
        font-size: 22px;
    }
   .checkbtn{
       display: block;
    }

    ul{
        flex-direction: column;
        position: absolute;



        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.93);
        top: 50px;
        text-align: center;


        left: -100%;
        transition: all .5s ease-in-out;
    }

    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 16px;
        color: #000000;
    } 

    a:hover,a.active{
        background: none;

    }

    #check:checked ~ ul{
        left: 0;

    }







.imagem{
    width: 100%;
}


.container-images{
    max-width: 100%; 
    margin: 0px auto 0px auto;


    animation: slide 20s infinite;
    
}






#imagem2 {
    transition: all 500ms ease-in-out;
    margin-top: 50px;
    
}

#imagem2:hover {
    transform: scale(1.2);
    margin-top: 50px;
    cursor: pointer;
    
}



#imagem3 {
    transition: all 500ms ease-in-out;
    margin-top: 50px;
    
}

#imagem3:hover {
    transform: scale(1.2);
    margin-top: 50px;
    cursor: pointer;
    
}



#imagem4 {
    transition: all 500ms ease-in-out;
    margin-top: 50px;
    
}

#imagem4:hover {
    transform: scale(1.2);
    margin-top: 50px;
    cursor: pointer;
    
}








   .about-sub{
    flex-direction: column; 
}

    .about-sub:last-child{
        flex-direction: column-reverse;
    }


    .about h1{
        font-size: 4rem;
        text-align: center;
        margin-bottom: -15px;
    
    }
















    footer div{

        font-size: 9px;
    }

}























@media (max-width: 767px) {
    label.logo{
        font-size: 15px;
    }
   .checkbtn{
       display: block;
    }

    ul{
        flex-direction: column;
        position: absolute;



        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.93);
        top: 50px;
        text-align: center;


        left: -100%;
        transition: all .5s ease-in-out; 
    }






    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 12px;
        color: #000000;
    } 

    a:hover,a.active{
        background: none;

    }

    #check:checked ~ ul{
        left: 0;

    }











.imagem{
    width: 100%;
}


.container-images{
    max-width: 100%; 
    margin: 15px auto 15px auto;
    animation: slide 20s infinite;
    
}


#imagem1{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}






   .about-sub{
    flex-direction: column;
}

    .about-sub:last-child{
        flex-direction: column;
    }










#imagem1 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;

    
}

#imagem1:hover {
    transform: scale(1.2);
    margin-top: 50px;

    cursor: pointer;
    
}



#imagem2 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;
    
}

#imagem2:hover {
    transform: scale(1.2);
    margin-top: 50px;
 
    cursor: pointer;
    
}




#imagem3 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;
    
}

#imagem3:hover {
    transform: scale(1.2);
    margin-top: 50px;

    cursor: pointer;
    
}



#imagem4 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;
    
}

#imagem4:hover {
    transform: scale(1.2);
    margin-top: 50px;

    cursor: pointer;
    
}


    footer div{

        font-size: 7px;
    }

}




















@media (max-width: 1024px){


    label.logo{
        font-size: 15px;
    }
   .checkbtn{
       display: block;
    }

    ul{
        flex-direction: column;
        position: absolute;



        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.93);
        top: 50px;
        text-align: center;


        left: -100%;
        transition: all .5s ease-in-out;
    }







    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 12px;
        color: #d7d7d5;
        
    } 

    a:hover,a.active{
        background: none;

    }

    #check:checked ~ ul{
        left: 0;

    }










.imagem{
    width: 100%;
}


.container-images{
    max-width: 100%; 
    margin: auto;
    animation: slide 20s infinite;
    
}


#imagem1{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}






   .about-sub{
    flex-direction: column;
}


    .about-sub:last-child{
        flex-direction: column;
    }










#imagem1 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;

    width: 200px;
    height: 300px;

    
}

#imagem1:hover {
    transform: scale(1.2);
    margin-top: 50px;

    cursor: pointer;
    
}


#imagem2 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;
    
}

#imagem2:hover {
    transform: scale(1.2);
    margin-top: 50px;

    cursor: pointer;
    
}




#imagem3 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;
    
}

#imagem3:hover {
    transform: scale(1.2);
    margin-top: 50px;

    cursor: pointer;
    
}



#imagem4 {
    transition: all 450ms ease-in-out;
    margin-top: 50px;
    
}

#imagem4:hover {
    transform: scale(1.2);
    margin-top: 50px;

    cursor: pointer;
    
}


    footer div{

        font-size: 7px;
    }

}
